{% extends "layout.html" %}

{% block title %}
    
{% endblock %}

{% block main %}
  <p>{{ now.strftime("%A, %d %B %Y %H:%M") }}</p> 

  <h5>Distribution of new recoveries per region, {{ new_date }}</h5>
  
  <table class="table table-sm table-striped">
    <thead>
        <tr>
           <th scope="col">Region</th>
            <th scope="col">Number</th>
        </tr>
    </thead>
    
    <tbody>
        {% if new_recoveries %}

        {% for row in new_recoveries %}
        <tr>
            <td class="text-left">{{ row.region }}</td>
            <td class="text-left">{{ row.new_recoveries }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td class="text-left" ><strong>Total</strong></td>
            <td class="text-left"> <strong>{{ new_recoveries|sum("new_recoveries") }}</strong>
        </tr>

        {% endif %}

    </tbody>
  </table>

  <form action="/add_recoveries" method="post">
        
        <h5> Add new recoveries:</h5>
        <div class="row">
            <select class="form-control col mb-2" name="region">
                <option disabled selected value="">Choose Region</option>
                {% for d in region_list %}
                    <option value="{{ d }}">{{ d }}</option>
                {% endfor %}
            </select>

            <div class="form-group col mb-2">
                <input autocomplete="off" autofocus class="form-control" name="new_recoveries" placeholder="0" value="0" type="number">
            </div>
         
            <div class="col text-center">
                <button class="btn btn-success px-5" type="submit">Add</button>
            </div>
        </div>
  </form>
  <div class="text-center mt-4">
      <a class="btn btn btn-danger px-5" href="./" role="button">Back</a>
  </div>

{% endblock %}
